@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using HairSalon.Models;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hair Salon</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<h3>Stylists</h3>
<p><a href="/stylists/new">ADD NEW STYLIST</a></p>
<form action="/stylists/deleteAll" method="post"><button type="submit" class="btn btn-danger">DELETE ALL STYLISTS</button></form>
@foreach (var stylist in @Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body stylistCard">
            <h5 class="card-title">@stylist.GetFirstName() @stylist.GetLastName()</h5>
            <h6 class="card-link">Specialties:</h6>
            <ul>
                @foreach(var specialty in Specialty.GetAllForStylist(stylist.id))
                {
                    <li>@specialty.GetSpecialtyName()</li>
                }
             </ul>
            <h6 class="card-link">Current Clients:</h6>
            <ul>
                @foreach (var client in Client.FilteredByStylist(@stylist.id))
                    {
                       <li> @client.GetFirstName()  @client.GetLastName() </li>
                    }
            </ul>
            <a href="/stylists/@stylist.id/update"><button type="button" class="btn btn-primary">Update</button></a>
            <form action="/stylists/@stylist.id/delete" method="post"><button type="submit" class="btn btn-warning">Remove</button></form>
        </div>
    </div>
}
