@{
 
}
@using HairSalon.Models
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hair Salon</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<h3>Clients</h3>
<p><a href="/clients/new">ADD NEW CLIENT</a></p>
@foreach (var client in @Model[0])
{ 
    <div class="card" style="width: 18rem;">
        <div class="card-body clientCard">
            <h5 class="card-title">@client.GetFirstName() @client.GetLastName()</h5>
            <p class="clientsPhone"></p>
            <p>Stylist: @Stylist.Find(@client.GetStylistId()).GetFirstAndLastName()</p>

        </div>
    </div>
}
